* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}
html {
  color: #575988;
  font-size: 1.5em;
  background-color: #fffdf9;
}
body {
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header,
footer {
  display: flex;
  align-items: center;
  height: 10vh; 
}
header {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 36px;
  background-color: #beebe9;
  justify-content: space-between;
  padding: 0 120px;
  

 
}
footer {
  background-color: #ffe3ed;
  justify-content: center;
  
  
  
}
.navbar {
  width: 200px;
  display: flex;
  justify-content: space-between;
  
}
.navbar li a {
  color: #575988;
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
 
}
.main h1{
  margin: 20px;
  padding-top: 200px ;
  padding-bottom: 30px;
}

.self-love,
.good-sleep,
.meditation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  padding: 80px;
}

.self-love img,
.good-sleep img,
.meditation img {
  width: 30%;
  margin-top: 30px;
  padding: 10px;

 
}
